!jest.config.js
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

dist
env.json
.env
services/processor/trainer
.DS_Store
services/processor/tests/extract/output
services/processor/tests/extract/training_data